params {
	//Initial parameters
	reads = ''
	sampleinfo = ''
	outdir = ''
	
	//READFILTERING
	nanoq_length = 1000
	
	//DOWNSAMPLE
	rasusa_genome_size = '5MB'
	rasusa_coverage = 80
	
	//ASSEMBLE
	flye_read_type = '--nano-hq'
	flye_genome_size = '5m'
	flye_threads = 16
	flye_minoverlap = ''
	
	//ROTATE
	circ_prefix = 'flye.circ'
	
	//POLISH
	medaka_outdir = 'medaka'
	medaka_model = 'r1041_e82_400bps_sup_v5.0.0' //r1041_e82_400bps_sup_v4.2.0 //r1041_e82_260bps_sup_g632 //r941_min_sup_g507
	
	//ASSEMBLYQC
	busco_output = 'busco'
	busco_mode = 'genome'
	
	//SOCRU
	socru_output = 'socru_output'
	socru_blastoutput = 'blast_hits'
}

process {
	withName:READFILTERING {
		container = 'docker://jimmyliu1326/nanoq:latest'
	}
	withName:DOWNSAMPLE {
		container = 'docker://staphb/rasusa:0.7.0'
	}
	withName:ASSEMBLE {
		container = 'docker://staphb/flye:2.9'
	}
	withName:ROTATE {
		container = 'docker://staphb/circlator:1.5.5'
	}
	withName:POLISH {
		container = 'docker://ontresearch/medaka:sha3486abaab0d3b90351617eb8622acf2028edb154'
	}
	withName:FORMATREADS {
		container = 'docker://staphb/seqtk:1.3'
	}
	withName:SOCRU {
		container = 'docker://quadraminstitute/socru:version-2.2.4'
		memory = 32.GB
	}
	withName:ASSEMBLYQC {
		container = 'docker://ezlabgva/busco:v5.4.6_cv1'
	}
}

profiles {
	//standard for local
	standard {
		process {
			executor = 'local'
			cpus = 8
		}
		singularity {
			enabled = true
			autoMounts = true
			runOptions = '--cleanenv'
			runOptions = '--no-home'
			runOptions = "-B $PWD:/data"
			cacheDir = "$SINGULARITY_CACHEDIR"
		}
	}
	//sge for CDC cluster
	 sge {
	   process {
		 executor = 'sge'
		 penv = 'smp'
		 queue = 'all.q'
		 cpus = 8
	   }
	   executor {
		 queueSize = 100
		 pollInterval = '15 sec'
	   }
	   singularity {
			enabled = true
			autoMounts = true
			runOptions = '--cleanenv'
			runOptions = '--no-home'
			cacheDir = ''
	   }
	 }
	 //SHORT - add to profile if you want cluster short queue
	 short {
	   process {
		 queue = 'short.q'
	   }
	 }
	//GPU - add to profile if you want gpu queue
	 gpu {
	   process {
		 queue = 'gpu.q'
	   }
	 }
	//HIGHMEMORY - add to profile if you want highmem queue
	 highmem {
	   process {
		 queue = 'highmem.q'
	   }
	 }
}
