params {
	//Initial parameters
	reads = 'fastq_pass/**.fastq.gz'
	sampleinfo = 'sampleinfo.txt'
	outdir = 'stylo'
	unicycler = false
	
	//READFILTERING
	nanoq_length = 1000
	
	//DOWNSAMPLE
	rasusa_genome_size = '4.8MB'
	rasusa_coverage = 120
	
	//ASSEMBLE
	flye_read_type = '--nano-hq'
	flye_genome_size = '4.8m'
	flye_threads = 16
	
	//HYBRID
	unicycler_output = 'unicycler'
	unicycler_threads = 16
	unicycler_min_fasta_length = 1000
	unicycler_mode = 'conservative'
	unicycler_keep = 3
	unicycler_verbosity = 3
	
	//ROTATE
	circ_prefix = 'flye.circ'
	
	//POLISH
	medaka_outdir = 'medaka'
	medaka_model = 'r1041_e82_260bps_sup_g632' //r941_min_sup_g507 for r941
	
	//PLASMIDCHECK
	staramr_resfinder_commit = '039e2cc6750a8ad377b32d814e723641316b170a' //Date of commit: Fri, 04 Feb 2022 14:10
	staramr_pointfinder_commit = '229df577d4e9238d54f1dbfd5580e59b6f77939c' //Date of commit: Thu, 10 Feb 2022 14:02
	staramr_plasmidfinder_commit = '314d85f43e4e018baf35a2b093d9adc1246bc88d' //Date of commit: Fri, 17 Mar 2023 08:05
	
	//SOCRU
	socru_output = 'socru_output'
	socru_blastoutput = 'blast_hits'
	
	//ASSEMBLYQC
	busco_output = 'busco'
	busco_mode = 'genome'
}

process {
	withName:READFILTERING {
		container = 'docker://jimmyliu1326/nanoq:latest'
	}
	withName:DOWNSAMPLE {
		container = 'docker://staphb/rasusa:0.7.0'
	}
	withName:ASSEMBLE {
		container = 'docker://staphb/flye:2.9'
	}
	withName:HYBRID {
		container = 'docker://staphb/unicycler:0.5.0'
	}
	withName:ROTATE {
		container = 'docker://staphb/circlator:1.5.5'
	}
	withName:POLISH {
		container = 'docker://ontresearch/medaka:sha5603de35d5a38721b78af89200ace153ce821ef4'
	}
	withName:FORMATREADS {
		container = 'docker://staphb/seqtk:1.3'
	}	
	withName:PLASMIDCHECK {
		container = 'docker://staphb/staramr:0.7.1'
	}
	withName:SOCRU {
		container = 'docker://quadraminstitute/socru:version-2.2.4'
	}
	withName:ASSEMBLYQC {
		container = 'docker://ezlabgva/busco:v5.4.6_cv1'
	}
}

profiles {
	//standard for local
	standard {
		process {
			executor = 'local'
			cpus = 8
		}
		singularity {
			enabled = true
			autoMounts = true
			runOptions = '--cleanenv'
			runOptions = '--no-home'
			runOptions = "-B $PWD:/data"
			cacheDir = "$SINGULARITY_CACHEDIR"
		}
	}
	//sge for CDC cluster
	 sge {
	   process {
		 executor = 'sge'
		 penv = 'smp'
		 queue = 'all.q'
		 cpus = 8
	   }
	   executor {
		 queueSize = 100
		 pollInterval = '15 sec'
	   }
	   singularity {
			enabled = true
			autoMounts = true
			runOptions = '--cleanenv'
			runOptions = '--no-home'
			runOptions = "-B $PWD:/data"
			cacheDir = "$SINGULARITY_CACHEDIR"
	   }
	 }
	 //SHORT - add to profile if you want cluster short queue
	 short {
	   process {
		 queue = 'short.q'
	   }
	 }
	//GPU - add to profile if you want gpu queue
	 gpu {
	   process {
		 queue = 'gpu.q'
	   }
	 }
	//HIGHMEMORY - add to profile if you want highmem queue
	 highmem {
	   process {
		 queue = 'highmem.q'
	   }
	 }
}
